rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /trek_photos/{photoId} {
      allow read, write: if true;
    }

    match /registrations/{registrationId} {
      allow read, write: if true;
    }

    match /community_trails/{trailId} {
      allow read, write: if true;
    }

    match /trail_moderation/{trailId} {
      allow read, write: if true;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /test/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
